.feedback{
  text-align: center;
  margin-top: 50px;
}
.score{
  text-align: center;
  margin-top: 50px;
}

.bad{
  text-align: center;
  margin-top: 50px;
}

.good{
  text-align: center;
  margin-top: 50px;
}